<svg width="100%" height="100%">
  <defs>
    <filter id="shadow-6dp" x="-50%" y="-100%" width="200%" height="300%">
      <feOffset in="SourceAlpha" result="offA" dy="6" />
      <feOffset in="SourceAlpha" result="offB" dy="1" />
      <feOffset in="SourceAlpha" result="offC" dy="3" />
      <feMorphology in="offC" result="spreadC" operator="erode" radius="1" />
      <feGaussianBlur in="offA" result="blurA" stdDeviation="5" /><!--10px 0-->
      <feGaussianBlur in="offB" result="blurB" stdDeviation="9" /><!--18px 0-->
      <feGaussianBlur in="spreadC" result="blurC" stdDeviation="2.5" /><!--5px -1px-->
      <feFlood flood-opacity="0.14" result="opA" />
      <feFlood flood-opacity="0.12" result="opB" />
      <feFlood flood-opacity="0.40" result="opC" />
      <feComposite in="opA" in2="blurA" result="shA" operator="in" />
      <feComposite in="opB" in2="blurB" result="shB" operator="in" />
      <feComposite in="opC" in2="blurC" result="shC" operator="in" />
      <feMerge>
        <feMergeNode in="shA" />
        <feMergeNode in="shB" />
        <feMergeNode in="shC" />
        <feMergeNode in="SourceGraphic" />
      </feMerge>
    </filter>
  </defs>

  
  <svg app-node [x]="20" [y]="10" [node]="node"></svg>
</svg>