.svg-canvas {
  position:fixed;
  top:70;
  left:0; 
  height:100%;
  width:100%;
  background-color: rgba(grey, .1);
}

.node-adder {
  position: absolute;
  max-width: 30%;
  left: 5%;
  top: 78%;
}