@import '~@angular/material/theming';

.node { 
  width: 100%;
  height:100%;
  pointer-events: none;
}

.black-node {
  fill: rgb(0, 0, 0);  
}

.red-node {
  fill: mat-color(mat-palette($mat-red));
}

.text {
  font-weight: bold
}

.black-node-text {
  @extend .text;
  fill: white;
}

.red-node-text {
  @extend .text;
  fill: black;
}

.box {
  width: 20%;
  height: 20%;
  fill:transparent;
  cursor: pointer;
}

.close-x {
  stroke: white;
  fill: transparent;
  stroke-width: 1;
  cursor: pointer;
}