<svg:g [attr.transform]="'translate('+x+','+y+')'">
  <rect [ngClass]="{'red-node': node.color, 'black-node': !node.color}" class="node" style="filter:url(#shadow-6dp)" />
  <text [ngClass]="{'red-node-text': node.color, 'black-node-text': !node.color}" alignment-baseline="middle" text-anchor="middle" x="50%" y="50%">
    {{node.key}}
  </text>
  <rect [attr.transform]="getCloseRectTranslate()" class="box" (click)="deleteNode()" />
  <svg style="pointer-events:none;">
    <path class="close-x" [attr.d]="getCloseBoxPath()" />
    <path class="close-x" [attr.d]="getCloseXPath()" />
  </svg>
</svg:g>